
@model TeknikServis.Entittes.Models.ArizaTurleri

@{
    ViewBag.Title = "ArizaTuruSil";
    Layout = null;
}
@*<div role="alert" id="DivSonuc" style="display:none;">
        <a class="close" onclick="MesajKapat()"><span aria-hidden="true">&times;</span><span class="sr-only">Kapat</span></a>
        <strong></strong>
        <p></p>
    </div>*@



<div class="box box-danger">
    @using (Html.BeginForm("ArizaTuruSil", "Kategori", FormMethod.Post, new { id = "FrmArizaTuruSilKarti" }))
    {
        @Html.HiddenFor(x => x.ArizaTuruID)

        <div class="row">

            <div class="col-md-6" style="margin-top: 1px;">

                <div class="form-group">


                    <label>Barkod No</label>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">

                            <span class="input-group-text"><i class="fa fa-id-card"></i></span>

                        </div>

                        @Html.TextBoxFor(x => x.ArizaTuruID, new { disabled = "disabled" })




                    </div>
                </div>
            </div>



            <div class="col-md-6" style="margin-top: 1px;">

                <div class="form-group">


                    <label>Kategori Grubu</label>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">

                            <span class="input-group-text"><i class="fa fa-question"></i></span>

                        </div>


                        @Html.Label("Destek Talebi Türü")





                    </div>
                </div>
            </div>
            @if (Session["Role"].ToString() == "Admin")
            {
                <div class="col-md-8" style="margin-top: 1px;">

                    <div class="form-group">
                        <label>Kategori</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">

                                <span class="input-group-text"><i class="fa fa-suitcase"></i></span>

                            </div>


                            @Html.TextBoxFor(x => x.ArizaTuru, new { disabled = "disabled" })



                        </div>
                    </div>
                </div>
            }

            <br />




        </div>

        <div class="modal-footer">


            <button type="button" onclick="ArizaTuruSilMain(@Model.ArizaTuruID)" class="btn btn-danger"><span class="glyphicon glyphicon-trash" style="vertical-align:middle;margin-top: -5px"></span> Sil</button>
            <button type="button" onclick="FormKapat('TanimSilModal')" class="btn btn-default" data-dismiss="modal">Vazgeç</button>


        </div>
    }
</div>




