

@model List<TeknikServis.Entittes.Models.StokTurleriView>

@{
    ViewBag.Title = "StokTuruListesi";
    Layout = null;
}


<!-- /.row -->
<!-- /.row -->



<div style=" margin:auto; padding-top:30px">


    <div class="card">

        <!-- /.card-header -->
        <div class="card-body">
            <p> Stok Türleri</p>
            <br />


            &nbsp;
            &nbsp;
            <a style="margin-bottom:20px;" onclick="FormGoster('../Kategori/StokTuruEkleKarti/?StokTuruID=0','TanimEkleModal')" title="Ekle" class="btn btn-outline-info fa fa-plus btn-circle btn-lg"></a>
            &nbsp;
            <br />

            @if (Model.Count == 0)
            {





                <div class="callout callout-info lead">
                    <h4>Uyarı!</h4>
                    <p>Burada Henüz Hiç Stok Türü Yok!.</p>
                </div>









            }

            else
            {

                <table id="example33" class="table table-bordered table-striped">
                    <thead>
                        <tr style="text-align: center">
                            <th style="text-align: center">
                                ID
                            </th>
                            <th style="text-align: center">
                                Barkod No
                            </th>
                            <th style="text-align: center">
                                Üst Kategori
                            </th>
                            <th style="text-align: center">
                                Tür
                            </th>
                            <th style="text-align: center">
                                Sil
                            </th>







                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.OrderByDescending(file => file.StokTuruID).ToList())

                        {


                            <tr style="text-align: center;cursor:pointer" ondblclick="FormGoster('../Teknik/TanimKarti/?TanimID=@item.StokTuruID', 'TanimEkleModal')">


                                <td>
                                    @Html.DisplayFor(modelItem => item.StokTuruID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BarkodNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StokKategoriAdi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StokTuruAdi)
                                </td>
                                <td>
                                    <button class="btn btn-outline-info btn-rounded btn-sm" onclick="StokTuruSil(@item.StokTuruID)"
                                            data-toggle="tooltip" data-placement="bottom" title="Sil">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </td>
                            </tr>


                        }



                    </tbody>


                </table>
            }
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->
<!-- /.box-footer -->
<!-- /.box -->
<!-- /.col -->
