
@model TeknikServis.Entittes.Models.Kullanici

@{
    ViewBag.Title = "SifreDegisKarti";
    Layout = null;

}
@*<div role="alert" id="DivSonuc" style="display:none;">
        <a class="close" onclick="MesajKapat()"><span aria-hidden="true">&times;</span><span class="sr-only">Kapat</span></a>
        <strong></strong>
        <p></p>
    </div>*@



<div class="box box-danger">
    @using (Html.BeginForm("SifreDegisKarti", "Kullanici", FormMethod.Post, new { id = "FrmSifreDegisKarti" }))


    {
        @Html.HiddenFor(x => x.KullaniciID)


    <div class="card card-widget widget-user">

        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-info">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="FormKapat('SifreDegis')">
                <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="widget-user-username">@Session["KullaniciAdi"].ToString()</h3>

            @*<h5 class="widget-user-desc">@Html.Label(Model.EMail)</h5>*@

            <h5 class="widget-user-desc">@Model.EMail</h5>
        </div>
        <div class="widget-user-image">
            @if (Model.ProfilResmi != null)
            {
                <img class="img-circle elevation-2" src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfilResmi))" alt="User Avatar">
            }

            else

            {
                <img class="img-circle elevation-2" src="~/Content/Images/defaultuser.JPG" alt="User Avatar">
            }

        </div>

      
        <div class="card-footer">
           
            <div class="row">




                <div class="col-sm-4 border-right" style="margin-bottom:4rem;">
                    <div class="description-block">
                        <h5 class="description-header"> @Session["KOIOIM"].ToString()</h5>
                        <span class="description-text">Aktif Kayıt</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right" style="margin-bottom:4rem;">
                    <div class="description-block">
                        <h5 class="description-header">@Session["KOTIA"].ToString()</h5>
                        <span class="description-text">Tamamlanan Kayıt</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4" style="margin-bottom:4rem;">
                    <div class="description-block">
                        <h5 class="description-header">@Session["toplamislemadedi"].ToString()</h5>
                        <span class="description-text">TOPLAM KAYIT</span>
                    </div>
                    <!-- /.description-block -->

                </div>

                @if (Session["Role"].ToString() == "Firma")
                {

                <!--<div class="col-sm-4 border-right" style="margin-bottom:4rem;">
                    <div class="description-block">
                        <h5 class="description-header">0</h5>
                        <span class="description-text">Tamamlanan Kayıt</span>
                    </div>-->
                    <!-- /.description-block -->
                <!--</div>-->
                }



                <div class="form-group col-md-8" style="margin:auto">

                    <div class="input-group mb-3" style="margin:auto">
                        <div class="input-group-prepend">

                            <span class="input-group-text"><i class="fa fa-key"></i></span>

                        </div>
                        @Html.TextBoxFor(x => x.Sifre, new { @id = "Parola", @class = "form-control", @placeholder = "Yeni şifre...", @type = "password" })
                    </div>
                </div>
                <br>

                <div class="form-group col-md-8" style="margin:auto">

                    <div class="input-group mb-3" style="margin:auto">
                        <div class="input-group-prepend">

                            <span class="input-group-text"><i class="fa fa-key"></i></span>

                        </div>
                        @Html.TextBoxFor(x => x.Sifre, new { @id = "ParolaTekrar", @class = "form-control", @placeholder = "Yeni şifre tekrar...", @type = "password" })
                    </div>
                </div>



                <!-- /.col -->
            </div>
            <br />
            <div class="form-group col-md-12">

                <div class="input-group mb-3" style="margin:auto;padding-top:20px;width:12.5rem;">
                    <div class="input-group-prepend">

                        <span class="input-group-text"><i>Profil Resmi</i></span>

                    </div>
                    <input class="form-control" style=" padding-top: 3px;padding-left:2px" id="fileInput" type="file">
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <div class="col-md-12">
                    @*<button type="submit" onclick="return MusteriKaydet()" class="btn btn-block btn-primary">Kaydet</button>*@
                    <button type="button" value="Upload file" onclick="SifreDegisAnasayfa()" class="btn btn-block btn-primary">Profilimi Güncelle</button>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>










       
    }



</div>





