
@model TeknikServis.Entittes.Models.Islem


@{
    ViewBag.Title = "IslemKartiTeknik";
    Layout = null;
}
@*<div role="alert" id="DivSonuc" style="display:none;">
        <a class="close" onclick="MesajKapat()"><span aria-hidden="true">&times;</span><span class="sr-only">Kapat</span></a>
        <strong></strong>
        <p></p>
    </div>*@



<div class="box box-danger">
    @using (Html.BeginForm("IslemKartiTeknik", "Teknik", FormMethod.Post, new { id = "FrmIslemKarti2" }))
    {
        @Html.HiddenFor(x => x.IslemServisID)
        @Html.HiddenFor(x => x.TeknikServisID)
    <div class="row">

        <div style="width:75%" class="row">



            <div class="col-md-10">
                <div class="form-group">
                    @if (Session["Role"].ToString() == "Admin" || Session["Role"].ToString() == "Personel")
                    {

                        <label>Yapılan İşlem</label>
                        <br />
                        <a style="margin-bottom:10px;" onclick="FormGoster('../Teknik/StokListesiKart', 'StokSecKart')" class="btn btn-m btn-success btn-m pull-right">Stoktan Seç</a>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">

                                <span class="input-group-text"><i class="fa fa-tasks"></i></span>

                            </div>
                            @Html.TextAreaFor(x => x.YapilanIslem, new { @class = "form-control", @placeholder = "Yapılan İşlemi Belirtin" })

                        </div>
                    }





                    <!-- /.input group -->
                </div>
            </div>




            <div class="col-md-4">
                <div class="form-group">
                    @if (Session["Role"].ToString() == "Admin" || Session["Role"].ToString() == "Personel")
                    {
                        <label>Birim Fiyat</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">

                                <span class="input-group-text"><i></i>₺</span>

                            </div>
                            @Html.TextBoxFor(x => x.BirimFiyat, new { @class = "form-control", @placeholder = "İşlemin ücreti...", id = "BirimTB", @onkeyup = "toplamgetir()" })
                            <div style="width:25%">
                                @Html.DropDownList("ParaBirimi",
                        new List<SelectListItem> {

                            new SelectListItem {
                               Text="₺",
                               Value="₺",
                               Selected = true


                            },
                            new SelectListItem {
                               Text="$",
                               Value="$",


                            },
                            new SelectListItem {
                               Text="€",
                               Value="€",
                            },
                        }, new { @class = "form-control", id = "parabirimi", @onclick = "KurCheck()" })
                            </div>
                        </div>
                    }





                    <!-- /.input group -->
                </div>
            </div>




            <script>

                function KurCheck() {
                    var islem = document.getElementById("parabirimi").value;

                    if (islem != "₺") {
                        document.getElementById("Kur").style.display = "block";
                    }

                    else {
                        document.getElementById("Kur").style.display = "none";
                    }

                }


            </script>


            @if (Session["Role"].ToString() == "Admin")
            {
                <div id="Kur" style="display:none" class="col-md-2">
                    <div>
                        <div class="form-group">
                            <label>Kur</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">

                                    <span class="input-group-text"><i class="fa fa-money-bill-alt"></i></span>

                                </div>
                                @Html.TextBoxFor(x => x.DolarKuru, new { autocomplete = "off", @class = "form-control", @placeholder = "TCMB" })

                            </div>
                        </div>
                    </div>
                </div>
            }

           
            @if (Session["Role"].ToString() == "Admin")
            {
                <div id="GenelToplam" class="col-md-3">
                    <div>
                        <div class="form-group">
                            <label>geneltoplam</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">

                                    <span class="input-group-text"><i class="fa fa-money-bill-alt"></i></span>

                                </div>
                                @Html.TextBoxFor(x => x.GenelToplam, new { autocomplete = "off", @class = "form-control", @placeholder = "geneltoplamM", @readonly = true, @id = "GenelToplamTB" })

                            </div>
                        </div>
                    </div>
                </div>
            }

                @if (Session["Role"].ToString() == "Admin")
                {
                    <div  id = "KDVFiyat"  class="col-md-3">
                        <div>
                            <div class="form-group">
                                <label>kdvfiyat</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">

                                        <span class="input-group-text"><i class="fa fa-money-bill-alt"></i></span>

                                    </div>
                                    @Html.TextBoxFor(x => x.KDVFiyat, new { autocomplete = "off", @class = "form-control", @placeholder = "kdvfiyat",@readonly=true,@id = "KDVFiyatTB" })

                                </div>
                            </div>
                        </div>
                    </div>
                }
           

        @if(Session["Role"].ToString() == "Admin" || Session["Role"].ToString() == "Personel")
            {

            <div class="col-md-2">
                <div class="form-group">
                    <label>Miktar</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">

                            <span class="input-group-text"><i class="fa fa-sort"></i></span>

                        </div>
                        @Html.DropDownListFor(m => m.Miktar, Enumerable.Range(1, 10).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new
                   {
                       @onChange = "toplamgetir()",
                       @id = "MiktarTB",
                       @class = "form-control chosen",
                       data_show_subtext = "true",
                       data_live_search = "true"

                   })


                        <script>

                            function toplamgetir() {
                                var birimfiyat = $('#BirimTB').val();
                                var miktar = $('#MiktarTB').val();
                                var genel = birimfiyat * miktar;
                                $('#GenelToplamTB').val(genel);
                                var geneltoplam = $('#GenelToplamTB').val()
                                var kdvoran = $('#KDVOranTB').val()
                                console.log(kdvoran);
                                if (kdvoran == "") {
                                    var kdv = geneltoplam * (18 * 0.01);
                                }
                                else {
                                    var kdv = geneltoplam * (kdvoran * 0.01);
                                }



                                kdv = kdv.toFixed(2);
                                kdv = kdv.toString().replace(".", ",");

                                $('#KDVFiyatTB').val(kdv);

                                var trim = $('#KDVFiyatTB').val();
                                trim = trim.replace(",", ".")
                                trim = parseFloat(trim);
                                trim = trim.toFixed(2);


                                var kdvdt = Number(geneltoplam) + Number(trim);


                                kdvdr = kdvdt.toString().replace(".", ",");


                                kdvdt = parseFloat(kdvdt);


                                kdvdt = kdvdt.toString().replace(".", ",");
                                console.log(typeof kdvdt);

                                console.log(kdvdt);




                                $('#KDVDahilTB').val(kdvdt);

                            }





                        </script>


                    </div>
                </div>
            </div>








        }

            <div class="col-md-2">
                <div class="form-group">
                    @if (Session["Role"].ToString() == "Admin" || Session["Role"].ToString() == "Personel")
                    {
                        <label>KDV Oranı</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">

                                <span class="input-group-text"><i class="fa fa-percent"></i></span>

                            </div>
                            @Html.TextBoxFor(x => x.KdvOrani, new { @class = "form-control", @placeholder = "%18", id = "KDVOranTB" })

                        </div>

                        <script>

                            document.getElementById('KDVOranTB').onkeyup = function () {

                                var birimfiyat = $('#BirimTB').val();
                                var miktar = $('#MiktarTB').val();
                                var genel = birimfiyat * miktar;
                                $('#GenelToplamTB').val(genel);
                                var geneltoplam = $('#GenelToplamTB').val()
                                var kdvoran = $('#KDVOranTB').val()

                                if (kdvoran == "") {
                                    var kdv = geneltoplam * (18 * 0.01);
                                }
                                else {
                                    var kdv = geneltoplam * (kdvoran * 0.01);
                                }

                                kdv = kdv.toFixed(2);
                                kdv = kdv.toString().replace(".", ",");

                                $('#KDVFiyatTB').val(kdv);

                                var trim = $('#KDVFiyatTB').val();
                                trim = trim.replace(",", ".")
                                trim = parseFloat(trim);
                                trim = trim.toFixed(2);


                                var kdvdt = Number(geneltoplam) + Number(trim);


                                kdvdr = kdvdt.toString().replace(".", ",");


                                kdvdt = parseFloat(kdvdt);


                                kdvdt = kdvdt.toString().replace(".", ",");
                                console.log(typeof kdvdt);

                                console.log(kdvdt);




                                $('#KDVDahilTB').val(kdvdt);

                            };
                        </script>
                    }


                    <!-- /.input group -->
                </div>
            </div>













            <!-- /.input group -->



            <div class="col-md-2">
                <div class="form-group">
                    @if (Session["Role"].ToString() == "Admin" || Session["Role"].ToString() == "Personel")
                    {
                        <label>KDV Dahil</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">

                                <span class="input-group-text"><i></i>₺</span>

                            </div>
                            @Html.TextBoxFor(x => x.KDVDahilFiyat, new { @class = "form-control", @placeholder = "-", id = "KDVDahilTB" })
                            <script>



                                document.getElementById("KDVDahilTB").style.color = "#807e7c";


                            </script>
                        </div>

                    }


                    <!-- /.input group -->
                </div>
            </div>

            @if (Session["Role"].ToString() == "Admin" || Session["Role"].ToString() == "Personel")
            {

                <div class="col-md-6" style="margin-top: 1px;">

                    <div class="form-group">
                        <label>Ait Olduğu Firma</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">

                                <span class="input-group-text"><i class="fa fa-suitcase"></i></span>

                            </div>

                            @Html.DropDownListFor(model => model.FirmaID, new SelectList(ViewBag.FirmalarBAG, "FirmaID", "FirmaAdi"), new { @class = "form-control", id = "dropDown" })

                            <script>
                                $(function () {
                                    $('#dropDown').select2({


                                        placeholder: "Seçim Yapın..",


                                        width: '180px'
                                    });
                                });
                            </script>

                        </div>
                    </div>
                </div>
            }

            <br />
            @if (Session["Role"].ToString() == "Admin")
            {
                <div class="col-md-10">
                    <div class="form-group">
                        <label>Tarih</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">

                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>

                            </div>
                            @Html.TextBoxFor(x => x.KayitZamani, new { autocomplete = "off", @class = "form-control col-md-5", id = "zamansec" })
                            <script>

                                $(document).ready(function () {
                                    $('#zamansec').flatpickr({
                                        enableTime: true,
                                        dateFormat: "d-M-Y H:i",
                                        locale: "tr"

                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            }

            @Html.HiddenFor(x => x.AitOlduguFirma)



        </div>




       

    </div>







    }


  

<div class="col-md-3">
    <td><label ></label></td>
    <th><label > </label></th>
    <button type="button" onclick="IslemKaydetTeknik();" class="btn btn-block btn-success">Ekle</button>
</div>
    <script>


        function IslemListeleKartListele() {


            $.ajax({
                method: 'GET',
                url: '../Teknik/IslemListesiKart',
                content: "application/html;",
                dataType: 'html'

            }).done(function (data) {
                $("#PanelIslemListeKartTeknik").html(data);


            })
        }

        function IslemKaydetTeknik() {
            

            $.ajax({
                method: 'POST',
                url: '../Teknik/IslemKarti',
                content: 'application/json; charset=UTF-8;',
                dataType: 'json',
                data: JSON.stringify($("#FrmIslemKarti2").serialize())

            }).done(function (data) {
                console.log(data);
                if (data.IslemKodu === 1) {
                    ModalBilgilendirme("Uyarı", data.Aciklama);
                    IslemListeleKartListele();
                   
                }
                else if (data.IslemKodu === 3) {
                    ModalBilgilendirme("Uyarı", data.Aciklama);
                    
                }
                //alert("Id:" + data.Data);
            }).fail(function () {
                console.log("Hata oluştu.");
                ModalBilgilendirme("Hata", "Hata Oluştu.");
            });

        }



    </script>
    <br />

    @if (Session["Role"].ToString() == "Admin" || Session["Role"].ToString() == "Personel")
    {

    <div class="col-md-12" style="margin-top: 1px;">

        <div class="form-group">

            <div id="PanelIslemListeKartTeknik" class="col-12">
                @{
                Html.RenderAction("IslemListesiKart");
                }
            </div>
        </div>
    </div>
    }









</div>




