
@model List<TeknikServis.Entittes.Models.TeknikDetayView>

@{
    ViewBag.Title = "TeknikIslemleri";
    Layout = null;
}


<!-- /.row -->
<!-- /.box-header -->
<!-- /.box-body -->
@*@{
    Html.RenderAction("_butonlar");*@
@*}*@








@if (Model.Count == 0)
{
    <br />

    <div class="callout callout-info lead col-12">

        <a>Sayfayı Yenileyip Tekrar Deneyin!</a>

    </div>







}
else if (Model.Count != 0)
{
    <div style="text-align:center" class="col-md-12">
        <h2 style="text-align:center">Bu Destek Kaydına Ait İşlmeler Var!</h2>
        <label>Bu kaydı silmek için öncelikle bu işlemleri silin.</label>
        @*<button type="submit" onclick="return MusteriKaydet()" class="btn btn-block btn-primary">Kaydet</button>*@


    </div>
    <hr />
    <br />


    <table id="teknikuyaritable" class="table table-bordered table-striped">

        <thead>
            <tr style="text-align: center">
                <th>
                    Barkod No
                </th>
                <th>
                    Yapılan İşlem
                </th>

                <th>
                    Birim Fiyat
                </th>
                <th>
                    Miktar
                </th>
               

                @if (Session["Role"].ToString() == "Admin")
                {
                    <th>
                        Kayıt Tarihi
                    </th>
                }

                <th>
                    KDV Oranı
                </th>
               

                <th>
                    KDV Dahil
                </th>










            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderByDescending(file => file.IslemServisID).ToList())

            {

                if (item.ParaBirimi == "?")
                {
                    item.ParaBirimi = "₺";
                }


                <tr style="text-align: center">

                    <td>
                        <a href="#" onclick=""> @Html.DisplayFor(modelItem => item.BarkodNo)</a>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YapilanIslem)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.BirimFiyat)
                        @Html.DisplayFor(modelItem => item.ParaBirimi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Miktar)
                    </td>

                   
                    @if (Session["Role"].ToString() == "Admin")
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.KayitZamani)


                        </td>
                    }

                   

                    <td>
                        @Html.DisplayFor(modelItem => item.KDVFiyat)
                        @Html.DisplayFor(modelItem => item.ParaBirimi)


                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.KDVDahilFiyat)
                        @Html.DisplayFor(modelItem => item.ParaBirimi)


                   





                </tr>


            }



        </tbody>

    </table>



    <script>

        $('#teknikuyaritable').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': true,
            "pageLength": 5
        })
    </script>


}



